{% extends 'base.html.twig' %}

{% block header %}
    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_2.webp);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Александр и Алла</h1>
                            <h2>Мы станем мужем и женой через:</h2>
                            <div class="simply-countdown simply-countdown-one"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Привет!</h2>
                    <h3>04 июня 2021 года, г. Бишкек</h3>
                    <p>Мы пригласили вас на нашу церемонию бракосочетания</p>
                </div>
            </div>
            <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img src="images/groom.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                        <h3>Мельников Александр</h3>
                        <p>Слова Александра</p>
                    </div>
                </div>
                <p class="heart text-center"><i class="icon-heart2"></i></p>
                <div class="couple-half">
                    <div class="bride">
                        <img src="images/bride.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                        <h3>Лим Алла</h3>
                        <p>Слова Аллы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.webp);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>План свадьбы</h2>
                </div>
            </div>
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Церемония бракосочетания</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>17:30</span>
                                        <span>18:00</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Пятница</span>
                                        <span>04 июня 2021</span>
                                    </div>
                                    <p>Текст</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Свадебная вечеринка</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>18:00</span>
                                        <span>23:00</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Пятница</span>
                                        <span>04 июня 2021</span>
                                    </div>
                                    <p>Кровь, кишки, рок-н-ролл</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-couple-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Как мы любим друг друга</span>
                    <h2>Наша история любви</h2>
                    <p>История берет свое начало аж с 2008 года до нашей эры :D</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline animate-box">
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(images/couple-1.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Знаковство</h3>
                                    <span class="date">25 мая 2008</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Косплей</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url(images/couple-2.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Первое свидание</h3>
                                    <span class="date">08 января 2021</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Dodo pizza</p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(images/couple-3.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Отношения</h3>
                                    <span class="date">07 января 2021</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Может попробуем?</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-gallery" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <span>Наши воспоминания</span>
                    <h2>Свадебная галерея</h2>
                    <p>Галерея будет пополнятся</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-gallery-list">

                        <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-1.jpg); ">
                            <a href="{{ path('app_gallery') }}">
                                <div class="case-studies-summary">
                                    <span>14 фото</span>
                                    <h2>Наши фото</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/homepage.js') }}"></script>
{% endblock %}

