{% extends 'quiz/base.html.twig' %}

{% block content %}
    <div class="quiz-title text-center">
        <h2>Чтобы принять участие в свадебной викторине, сначала вам нужно перейти по ссылки с приглашением на свадьбу.<br>
        А зетем вернуться сюда.</h2>
    </div>
{% endblock %}